<footer class="footer">
      <div class="contact-box">
      <ul class="adress">
            <li class="footer-link">Secretstreet 123 C</li>
            <li class="footer-link">234 72 Nowhere</li>
            <li class="footer-link">Myanmar</li>
      </ul>
      <ul class="contact">
            <li class="footer-link">Phone: 123 45 67 89</li>
            <li class="footer-link">Mail: secretclub@info.com</li>
      </ul>
</div>
<p class="copyright">Copyright &copy; The Secret Club 2022</p>
</footer>