<footer class="footer">
      Copyright &copy; The Secret Club 2022
      <ul class="adress">
            <li>Secretstreet 123 C</li>
            <li>234 72 Nowhere Town</li>
            <li>Myanmar</li>
      </ul>
      <ul class="contact">
            <li>Phone: 123 45 67 89</li>
            <li>Mail: the_secretclub@info.com</li>
      </ul>
</footer>