<nav>
      <div class="site-title">
            <a href="/"><h1>The Secret Club</h1></a>
      </div>
      <ul>
      <li><a href="/"Members>Home</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/form">Register</a></li>
</ul>
</nav>