<nav>
      <div class="site-title">
            <a href="/"><h1>The Secret Club</h1></a>
            <p>Lorem, ipsum dolor.</p>
      </div>
      <ul>
      <li><a href="/"Members>Home</a></li>
      <li><a href="/about">Members</a></li>
      <li><a href="/blogs/create">Register</a></li>
</ul>
</nav>