<nav class="nav-bar">
      <div class="site-title">
            <a href="/"><h1>The Secret Club</h1></a>
      </div>
      <ul class="page-links">
      <li class="list-item"><a class="link" href="/"Members>Home</a></li>
      <li class="list-item"><a class="link" href="/members">Members</a></li>
      <li class="list-item"><a class="link" href="/form">Register</a></li>
</ul>
</nav>