<!DOCTYPE html>
<html lang="en">
      <!-- Head / Metadata -->
      <%- include('./partials/head.ejs') %>
<body>
      <!-- Header / Navigation -->
      <%- include('./partials/nav.ejs') %> 
      <h2 class="error-message">Oops! This page doesn't exist.</h2>
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
</body>
</html>