<!DOCTYPE html>
<html lang="en">
      <!-- Head / Metadata -->
      <%- include('./partials/head.ejs') %>
<body>
      <!-- Header / Navigation -->
      <%- include('./partials/nav.ejs') %> 

      <h2 class="register-title">Become a member below</h2>
      <form action="/members/form" method="post" class="register-form form">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="mail">Mail</label>
            <input type="text" name="mail" id="mail" required>
            <br>
            <label for="phone">Phone</label>
            <input type="tel" name="phone" id="phone" required>
            <br>
            <label for="createdAt">Member since</label>
            <input type="date" name="createdAt" id="createdAt" required>
            <br>
            <label for="secret">Tell us your secret</label>
            <textarea name="secret" id="secret" cols="30" rows="10" placeholder="type here..." required></textarea>
            <button class="save-btn">Save</button>
      </form>
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
</body>
</html>