<!DOCTYPE html>
<html lang="en">
      <!-- Head / Metadata -->
      <%- include('./partials/head.ejs') %>
<body>
      <!-- Header / Navigation -->
      <%- include('./partials/nav.ejs') %> 
      <form action="/members/form" method="post" class="register-form">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <br>
            <label for="mail">Mail</label>
            <input type="text" name="mail" id="mail">
            <br>
            <label for="phone">Phone</label>
            <input type="number" name="phone" id="phone">
            <br>
            <label for="secret">Tell us your secret</label>
            <br>
            <textarea name="secret" id="secret" cols="30" rows="10" placeholder="type here..."></textarea>
            <button class="save-btn">Save</button>
      </form>
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
</body>
</html>