<!DOCTYPE html>
<html lang="en">
      <!-- Head / Metadata -->
      <%- include('./partials/head.ejs') %>
<body>
      <!-- Header / Navigation -->
      <%- include('./partials/nav.ejs') %> 
      <main class="main-content">
            <section class="main-section">
                  <p class="page-text">The place to share secrets</p>
                  <div class="img-box">
                        <img class="banner" src="http://localhost:3000/hush.jpg" width="350" min-height="240">
                  </div>
            </section>
      </main>
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
</body>
</html>